<configuration scan="true" scanPeriod=" 5 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n</pattern>
		</encoder>
<!--		<includeCallerData>true</includeCallerData>-->
	</appender>
	
	<appender name="KUDU-ROOT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>destination</Key>
			<DefaultValue>nosql_kudu_server</DefaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${destination}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<File>${user.home}/data/logs/${destination}.log</File>
				<rollingPolicy
					class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<!-- rollover daily -->
					<fileNamePattern>${user.home}/data/logs/${destination}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
					<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
						<!-- or whenever the file size reaches 100MB -->
						<maxFileSize>512MB</maxFileSize>
					</timeBasedFileNamingAndTriggeringPolicy>
					<maxHistory>60</maxHistory>
				</rollingPolicy>
				<encoder>
					<pattern>
						%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
					</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

    <logger name="com.lumi.bigdata.kudu" additivity="false">  
        <level value="WARN" />
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="KUDU-ROOT" />
    </logger>
    
	<root level="INFO">
		<appender-ref ref="KUDU-ROOT" />
	</root>
</configuration>